
.App .custom-btn {
  color: #ecf0f1;
  background-color: #e74c3c;
  border-color: #e74c3c;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.App .custom-btn:hover {
  color: #ecf0f1;
  background-color: #982921;
  border-color: #982921;
}

.App .well {
  background-color: #ecf0f1;
  border: 1px solid #fff;
  box-shadow: 10px 10px 5px #bdc3c7;
}

.App .page-header {
  color: #34495e;
}